#main {
    width: 6.75rem;
    margin: 0 auto;
    text-align: left;
    letter-spacing: .02rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}
.info-container {
    position: relative;
    border-radius: .6rem;
    overflow: hidden;
    background: #fff;
    -webkit-transform: rotate(0);
    -webkit-box-shadow: 0 0.12rem 0.36rem rgba(0,0,0,.13);
    box-shadow: 0 0.12rem 0.36rem rgba(0,0,0,.13);
}
.uper {
    transition: height .3s;
    -webkit-transition: height .3s;
    position: relative;
    overflow: hidden;
    -webkit-transform: rotate(0);
}
.swiper-container {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: height .3s;
    -webkit-transition: height .3s;
}
.swiper {
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(0);
    background: #fff;
    position: relative;
    overflow: hidden;
}
.page img {
    width: 100%;
    height: 100%;
}
.contents {
    transition: all .3s linear .3s;
    -webkit-transition: all .3s linear .3s;
}
#detail {
    background: #fff;
    width: 100%;
    transition: height .3s;
    -webkit-transition: height .3s;
    overflow: scroll;
    font-size: .3rem;
    height: 5.76rem;
}
.content {
    padding: .2rem .6rem;
    color: #888;
}
.content-title {
    text-align: center;
    line-height: 1rem;
    color: #4F88AB;
}
.content-text {
    font-size: .3rem;
    line-height: .5rem;
    text-align: justify;
    color: #393a3c;
}
.tooltips {
    z-index: 2;
    font-size: 0;
    background: #fff;
    overflow: hidden;
    text-align: justify;
    padding: .3rem .6rem .1rem .6rem;
    line-height: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.tooltip {
    font-size: .3rem;
    letter-spacing: .015rem;
    line-height: .6rem;
    display: flex;
    color: #4F88AB;
}
.tooltip span{
  position: relative;
  padding-left: .48rem;
}
.tooltip-0 {
  width: 50%;
    text-align: left;
}
.tooltip-0 span:before{
  content: '';
  display: block;
  width: .38rem;
  height: .38rem;
  position: absolute;
  top: .06rem;
  left: 0;
  background: url(../img/icon-01.png) no-repeat center;
  background-size: 100%;
}
.tooltip-1 {
    width: 40%;
    text-align: right;
}
.tooltip-1 span:before{
  content: '';
  display: block;
  width: .38rem;
  height: .38rem;
  position: absolute;
  top: .06rem;
  left: 0;
  background: url(../img/icon-02.png) no-repeat center;
  background-size: 100%;
}
#detail ul li span{
  padding-left: .48rem;
  position: relative;
}
#detail ul li:nth-of-type(1) span:before{
  content: '';
  display: block;
  width: .38rem;
  height: .38rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/icon-03.png) no-repeat center;
  background-size: 100%;
}
#detail ul li:nth-of-type(2) span:before{
  content: '';
  display: block;
  width: .38rem;
  height: .38rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/icon-04.png) no-repeat center;
  background-size: 100%;
}
.downer {
    position: relative;
    z-index: 2;
}
.improve {
    letter-spacing: .02rem;
    text-align: justify;
    background: #fff;
    font-size: .3rem;
    line-height: .5rem;
    color: #888;
    height: 1.5rem;
    padding: 0 .6rem;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #888;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: relative;
}
.switcher {
    color: #888;
    background: #fff;
    text-align: center;
    font-size: .25rem;
    line-height: .7rem;
    width: 100%;
}
.start-button {
    font-size: .32rem;
    line-height: .6rem;
    text-align: center;
    width: 3rem;
    color: #4F88AB;
    background-color: #fff;
    padding: .2rem .2rem;
    margin: .6rem auto .3rem auto;
    border-radius: .6rem;
    letter-spacing: .05rem;
    text-indent: .1rem;
    -webkit-box-shadow: 0 0.12rem 0.36rem rgba(0,0,0,.13);
    box-shadow: 0 0.14rem 0.18rem rgba(0,0,0,.13);
}
.declaration {
    font-size: .26rem;
    text-align: center;
    color: #fff;
}
.header{
    padding: 0 7%;
    word-break: break-all;
    white-space: normal;
    letter-spacing: .02rem;
    color: #fff;
}
.header .avatar{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin: .2rem auto;
    border: 1px solid #fff;
    display: block;
}
.header .pretitle{
    text-align: center;
    font-size: .3rem;
    margin: .06rem auto;
}
.header .title{
    margin: .06rem auto;
    text-align: center;
    font-size: .48rem;
    font-weight: 700;
}
.card{
    text-align: justify;
    background: #fff;
    color: #57595c;
    font-size: .3rem;
    letter-spacing: .02rem;
    width: 100%;
    border-radius: .28rem;
    overflow: hidden;
    -webkit-box-shadow: 0 0.14rem 0.18rem rgba(0,0,0,.08);
    box-shadow: 0 0.14rem 0.18rem rgba(0,0,0,.08);
    position: relative;
    line-height: .55rem;
}
.card>.title{
    border-top-left-radius: .28rem;
    border-top-right-radius: .28rem;
    font-size: .36rem;
    line-height: .56rem;
    background: green;
    padding: .23rem 1.65rem .17rem .46rem;
    color: #fff;
    position: relative;
    background: rgb(113, 163, 194);
    padding-right: 1.65rem;
}
.card .title-image{
    height: .96rem;
    width: auto;
    position: absolute;
    bottom: 0;
    right: .22rem;
}
.card .content-animate{
    transition: height .4s ease-in-out;
    -webkit-transition: height .4s ease-in-out;
    transition-duration: 800ms;
}
.card .card-content{
    border-radius: .28rem;
    overflow: hidden;
    width: 96%;
    position: relative;
    margin: 0 auto;
}
.card .switcher{
    border-bottom-left-radius: .28rem;
    border-bottom-right-radius: .28rem;
    background: #fff;
    padding: .1rem 0 .3rem;
    text-align: center;
    font-size: .24rem;
    color: #626b71;
    line-height: .5rem;
}
.items-container{
  font-family: NotoSansHans-Regular,PingFangSC-Regular;
  border-radius: .05rem;
  background: #fff;
  color: #57595c;
  text-align: justify;
  font-size: .3rem;
  letter-spacing: .02rem;
  line-height: .55rem;
  position: relative;
  padding: .2rem 5%;
  width: 100%;
}
.subtitle{
    font-weight: 700;
    font-size: .3rem;
    line-height: .5rem;
    vertical-align: top;
    letter-spacing: .025rem;
    text-align: justify;
    padding: 0 5% 0 8%;
    margin-top: .2rem;
    position: relative;
}
.subtitle:before{
  content: '';
  width: .04rem;
  height: .3rem;
  position: absolute;
  top: .07rem;
  left: 5%;
  background-color: #4F88AB;
}
.detail-box .box-title .right{
    width: 10%;
    display: inline-block;
    vertical-align: top;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    opacity: .3;
}
.detail-box .box-title .button-opened{
    width: .25rem;
    height: auto;
    vertical-align: middle;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
.detail-box .box-title .button{
    width: .25rem;
    height: auto;
    vertical-align: middle;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: all .3s;
    -webkit-transition: all .3s;
}
.items-container p{
    margin: .2rem 0;
    letter-spacing: .02rem;
}
.image{
    width: 100%;
    height: auto;
    margin: .4rem 0;
    display: block;
}
.card>.card-content>.mask{
    color: #fff;
    width: 100%;
    bottom: 0;
    height: 1.5rem;
    background: linear-gradient(hsla(0,0%,100%,0),#fff);
    position: absolute;
    left: 0;
}
.switherIcon{
  width: .24rem;
  margin-right: .15rem;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: all .3s;
  -webkit-transition: all .3s;
}
.button-opened{
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
.items-img img{
  width: 100%;
}
