/* 首页 */
.index-bg{background: url('../images/images.jpg')no-repeat;background-size: contain;height: 24.34rem;}
.cs-btn{width: 3.4rem;height: 1rem;margin: 5.4rem auto 0;}
/* 中奖名单 */
.pct-list li{ float: left; text-align: center;margin:0.45rem auto 0;} 
#scrollBox{height:2.9rem;width:6.85rem;margin:2rem auto;overflow:hidden;padding-left: 0.5rem;}
#scrollBox li{height:15px;line-height:15px;text-align:center;}
.pck-p{margin-top: -0.5rem; font-size: 0.24rem;color:#fff;}
ul,li{list-style:none;display:block;font-size: 0.3rem; color: #666;}
#scrollBox{width: 6rem;;margin:2.6rem auto 0;overflow:hidden;    margin-left: 0.65rem;overflow: hidden;}
#scrollBox #con1,#con2{width: 6rem;float:left;}
#scrollBox li{line-height:0.1rem;text-align:center;}
#scrollBox li span{padding-left: 69px;}
.index-con1{width: 6.9rem;height: 6.7rem; margin: 3.9rem auto 0;}
.index-con1 img{width: 100%;height: 100%;}
/* 底部声明 */
.idx-sm{color:0.24rem;color: #f4f0b4;margin-top:0.4rem;font-weight: bold;line-height: 0.3rem; }
/* 首页end */
/* 猜英雄start */
.hero-bg{height: 14.38rem;background: url('../images/hero-bg1.jpg')no-repeat;background-size: contain;}
.hero-con{height: 11rem; position: relative; display: none; }
.hero-con1{height:8.47rem;margin-top:1.57rem;}
.hero-con1 img{width: 100%;height:8rem; }
.hero-con2{width: 6.32rem;height: 0.66rem;background: url('../images/hero-lb.png')no-repeat;background-size: contain; position: absolute;top: -0.8rem;left:10%;}

/* btn */
.hero-xz{width: 6.6rem;height: 2.4rem; margin:0.2rem auto 0; }
.hero-xz li{background: url('../images/hero-btn2.png')no-repeat;background-size: contain;
width: 2.9rem;height: 0.95rem; float: left; margin: 0.28rem 0 0 0.25rem; line-height: 0.95rem;color: #c52d24;font-size: 0.4rem;font-weight: bold;}
.hero-btn{background: url('../images/hero-btn1.png')no-repeat; background-size: contain;
width: 6.45rem;height: 0.98rem; margin: 0.4rem auto 0; color: #f4f0b4;font-size: 0.4rem;line-height: 0.8rem; margin-left: 0.7rem;}
.current{background-color: #f4f0b4; width: 0.45rem;height: 0.45rem;border-radius: 0.5rem;}
.hero-xz .hero-current{background: url('../images/hero-btnclick.png')no-repeat;width: 2.9rem;height: 0.95rem; background-size: contain;}
.hero-con2 li{float: left; width: 0.3rem;height: 0.3rem; margin:0.15rem 0 0 0.25rem; }
.hero-con2 li:nth-child(2),.hero-con2 li:nth-child(3),.hero-con2 li:nth-child(4){
    margin-left: 1.53rem;
}
/* 猜英雄end */
/* 得分start */
.score-bg{background: url('../images/score-bg.jpg')no-repeat;background-size: contain;height: 14.38rem; overflow: hidden;}
.scroe-kk{background: url('../images/score-k.png')no-repeat;background-size: contain;width: 6.4rem;height: 9.4rem; margin: 0.8rem auto 0 ;}
.scroe-kk .scr-cs{font-size: 1.2rem;color: #f4f0b4;height: 6.38rem; line-height: 7.38rem;}
.scroe-kk span{color: #c52d24;font-size: 0.46rem; font-weight: bold; line-height: 0.5rem;}
.scroe-kk span h2{font-size: 0.8rem;}
.scroe-btn{background: url('../images/score-btn.png')no-repeat;background-size: contain; font-weight: bold;
width: 6.44rem;height: 0.9rem;margin: 0.5rem auto 0; color: #c52d24;font-size: 0.4rem;line-height: 0.86rem;    border-radius: 0.5rem;}
.score-sm{margin-top: 1.1rem;}
/* 得分end */
/* 领取礼包start */
.getbag-bg{background: url('../images/getbag.jpg')no-repeat;background-size: contain;height: 14.38rem;}
.getbag-con1{width: 6.45rem;height: 2.3rem;margin:0.85rem auto 0; position: relative;}
.getbag-con1 input{background: url('../images/getbag1.jpg')no-repeat;background-size: contain;width:5.5rem; height: 0.95rem; border:none;padding-left: 0.95rem;}
.getbag-con1 input:nth-child(2){background: url('../images/getbag2.jpg')no-repeat;background-size: contain;width:6.45rem; height: 0.95rem; margin-top: 0.4rem;}
.vct-btn{position: absolute;top:1.35rem;right: 0;width: 2.6rem;height: 0.9rem; font-size: 0.28rem;color: #c52d24;line-height: 0.85rem; float: left; margin-left: 0.29rem;  }
.pop-con1 .lootey{font-size: 0.44rem;color: #fff; padding-top: 2.8rem; display: block;}
/* tc */
.pop{display: none;}
.pop_cont3{width: 7.5rem;height: 14.38rem; opacity: 0.5rem; background-color: #411209; position: relative;}
.pop-con1{ background: url('../images/getbag-tc.jpg')no-repeat;background-size: contain; width: 100%;height: 9.66rem;}
.pop-con1 .pop-btn{background: url('../images/getbag-tcbtn.png')no-repeat;background-size: contain; width: 5.76rem;height: 0.9rem;  position: absolute;top: 5.5rem; left:12%; 
line-height: 0.9rem;color: #c52d24;font-size: 0.4rem;font-weight: bold;}
.pop-con1 .pop-btn1{top: 6.9rem;}
.pop-con1 p{font-size: 0.36rem; color: #f4f0b4; padding-top: 3.5rem; line-height: 0.36rem;}
.pop_cont3 .gtbcls{width: 0.76rem;height: 0.7rem; position: absolute;top: 1.33rem;right: 0.75rem; }
.pop1{background-color: #411209;display: none;width: 7.5rem;top:0 !important; position: relative;}
.pop-con1 h2{color: #f9f9f9;font-size: 0.64rem; padding-top: 0.38rem;}
.pop1-zz{ position:absolute;left:0px;top:0px;
    background:rgba(0, 0, 0, 0.4);
    width:7.5rem;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height:14.38rem;
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    z-Index:998;  }
.pop1 img{widows:0.6rem;height: 0.7rem; margin-top: 0.3rem;position: absolute;top: 0;right: 0.3rem; opacity: 1;z-Index:999; }
.pop1 p{color: #fff;font-size: 0.4rem; position: absolute;top: 1.3rem;right:0; opacity: 1; z-Index:999; }

/* 领取礼包end */
/* 领取步骤start */
.bg-award{background: url('../images/award-bg.jpg')no-repeat; background-size: 100%;height: 14.38rem;overflow: hidden;}
.award-btn{width: 5.65rem;height: 1.05rem;margin: 8.2rem auto;}
.award-ewm{width: 3.5rem;height: 3.5rem;margin: 0 auto; position: relative; top: 2.6rem;}
/* 领取步骤end */
/* 注册流程start */
.getway-bg{background: url('../images/getway-bg.jpg')no-repeat;background-size: contain;height:53.55rem;}
.getway-bg img{margin: 45rem auto 0; width: 2.2rem;height: 2.2rem;}
.getway-bg a{background: url('../images/getway-btn.png')no-repeat;background-size: contain; width: 5.6rem;height: 0.9rem; margin: 1.2rem auto 0; line-height: 0.9rem;font-size: 0.4rem;color: #c52d24;}
.getway-bg a:nth-child(4){margin-top: 0.35rem;}
/* 注册流程end */
/* 输入购买地址start */
.bug-site{width: 6.46rem; margin: 0.85rem auto 0;}
.bug-site span{width: 100%; display: block; position: relative;}
.bug-site input{width: 100%;height: 0.9rem;background: url('../images/nineinput.png')no-repeat;background-size: contain;border: none;border-radius: 0.2rem;margin-top: 0.36rem; padding-left: 0.95rem;}
.bug-site span i{display: block;background: url('../images/ren.png')no-repeat; background-size: contain;height: 0.32rem;width: 0.5rem; position: absolute;top: 0.66rem;left: 0.3rem;}
.bug-site .input-i2{background: url('../images/number.png')no-repeat; background-size: contain;}
.bug-site .input-i3{background: url('../images/map.png')no-repeat; background-size: contain;}
.bug-site span b{position: absolute;top: 0.7rem;right: 0.5rem; display: block;font-size: 0.32rem;color: #999;}
.bug-site .messagesbox{width:6.06rem;height: 1.55rem; border-radius: 0.2rem; margin-top: 0.36rem;padding: 0.3rem 0 0 0.4rem; color: #999;}
.affirm{background: url('../images/score-btn.png')no-repeat;background-size: contain;width: 100%; height: 0.92rem; margin: 0.75rem auto 0;
border-radius: 0.5rem; color: #c52d24;font-size: 0.4rem;;line-height: 0.92rem;font-weight: boldr; }
/* 输入购买地址 end */

/*  */
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.control-label{text-align: center;width: 100%; text-align: left;font-size: 0.36rem; display: block; margin-top: 0.2rem;}
.controls select{width: 2rem; margin: 0.2rem 0 0; border: 1px solid #999; border-radius: 0.1rem; position: relative;}
.control-group {text-align: center;}
.controls select{background: url('../images/selct.png')no-repeat; background-size: contain; width: 2.05rem;height: 0.9rem;border:none;padding-left: 0.05rem;}

/* 提示页面start */
.hint-bg{background: url('../images/hint-bg.jpg')no-repeat;background-size: contain; height: 14.38rem;}