[data-dpr="1"] .fz-12 {
    font-size: 6PX;
}
[data-dpr="2"] .fz-12 {
    font-size: 12PX;
}
[data-dpr="3"] .fz-12 {
    font-size: 18PX;
}
[data-dpr="1"] .fz-14 {
    font-size: 7PX;
}
[data-dpr="2"] .fz-14 {
    font-size: 14PX;
}
[data-dpr="3"] .fz-14 {
    font-size: 21PX;
}
[data-dpr="1"] .fz-16{
    font-size: 8PX;
}
[data-dpr="2"] .fz-16 {
    font-size: 16PX;
}
[data-dpr="3"] .fz-16 {
    font-size: 24PX;
}
[data-dpr="1"] .fz-18{
    font-size: 9PX;
}
[data-dpr="2"] .fz-18 {
    font-size: 18PX;
}
[data-dpr="3"] .fz-18 {
    font-size: 27PX;
}
[data-dpr="1"] .fz-20{
    font-size: 10PX;
}
[data-dpr="2"] .fz-20 {
    font-size: 20PX;
}
[data-dpr="3"] .fz-20 {
    font-size: 30PX;
}
[data-dpr="1"] .fz-22{
    font-size: 11PX;
}
[data-dpr="2"] .fz-22 {
    font-size: 22PX;
}
[data-dpr="3"] .fz-22 {
    font-size: 33PX;
}
[data-dpr="1"] .fz-24{
    font-size: 12PX;
}
[data-dpr="2"] .fz-24 {
    font-size: 24PX;
}
[data-dpr="3"] .fz-24 {
    font-size: 36PX;
}
[data-dpr="1"] .fz-26{
    font-size: 13PX;
}
[data-dpr="2"] .fz-26 {
    font-size: 26PX;
}
[data-dpr="3"] .fz-26 {
    font-size: 39PX;
}
[data-dpr="1"] .fz-28{
    font-size: 14PX;
}
[data-dpr="2"] .fz-28 {
    font-size: 28PX;
}
[data-dpr="3"] .fz-28 {
    font-size: 42PX;
}
[data-dpr="1"] .fz-30{
    font-size: 15PX;
}
[data-dpr="2"] .fz-30 {
    font-size: 30PX;
}
[data-dpr="3"] .fz-30 {
    font-size: 45PX;
}
[data-dpr="1"] .fz-32{
    font-size: 16PX;
}
[data-dpr="2"] .fz-32 {
    font-size: 32PX;
}
[data-dpr="3"] .fz-32 {
    font-size: 48PX;
}
[data-dpr="1"] .fz-34{
    font-size: 17PX;
}
[data-dpr="2"] .fz-34 {
    font-size: 34PX;
}
[data-dpr="3"] .fz-34 {
    font-size: 51PX;
}
[data-dpr="1"] .fz-36{
    font-size: 18PX;
}
[data-dpr="2"] .fz-36 {
    font-size: 36PX;
}
[data-dpr="3"] .fz-36 {
    font-size: 54PX;
}
[data-dpr="1"] .fz-38{
    font-size: 19PX;
}
[data-dpr="2"] .fz-38 {
    font-size: 38PX;
}
[data-dpr="3"] .fz-38 {
    font-size: 57PX;
}
[data-dpr="1"] .fz-40{
    font-size: 20PX;
}
[data-dpr="2"] .fz-40 {
    font-size: 40PX;
}
[data-dpr="3"] .fz-40 {
    font-size: 60PX;
}
[data-dpr="1"] .fz-42{
    font-size: 21PX;
}
[data-dpr="2"] .fz-42 {
    font-size: 42PX;
}
[data-dpr="3"] .fz-42{
    font-size: 63PX;
}
[data-dpr="1"] .fz-44{
    font-size: 22PX;
}
[data-dpr="2"] .fz-44 {
    font-size: 44PX;
}
[data-dpr="3"] .fz-44{
    font-size: 66PX;
}
[data-dpr="1"] .fz-48{
    font-size: 24PX;
}
[data-dpr="2"] .fz-48{
    font-size: 48PX;
}
[data-dpr="3"] .fz-48{
    font-size: 72PX;
}
[data-dpr="1"] .fz-50{
    font-size: 25PX;
}
[data-dpr="2"] .fz-50 {
    font-size: 50PX;
}
[data-dpr="3"] .fz-50 {
    font-size: 75PX;
}
[data-dpr="1"] .fz-60{
    font-size: 30PX;
}
[data-dpr="2"] .fz-60 {
    font-size: 60PX;
}
[data-dpr="3"] .fz-60 {
    font-size: 90PX;
}
[data-dpr="1"] .fz-80{
    font-size: 40PX;
}
[data-dpr="2"] .fz-80 {
    font-size: 80PX;
}
[data-dpr="3"] .fz-80 {
    font-size: 120PX;
}
