body {
  background: #fff;
  text-align: center;
  font-size: 0.24rem;
  margin: 0;
  padding: 0;
  background-color: #152445;
}

a,
a:hover {
  text-decoration: none;
}

input {
  font-size: 0.24rem;
}

.fullpage .container {
  height: 1138px;
  margin-top: -569px;
}

.fullpage .swiper-slide {
  background: #fff;
}

.fullpage .ele {
  display: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f7f9;
  z-index: 1999;
  text-align: center;
}

#preloader .status {
  z-index: 999999;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -125px;
}

#preloader .cr {
  position: absolute;
  bottom: 50px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, .5);
}

#preloader .cr img {
  width: 90px;
  height: auto;
}

#preloader .progress {
  margin-top: 15px;
  background-color: #e5e9eb;
  height: 3px;
  position: relative;
  width: 100%;
}

#preloader .progress-bar {
  width: 0%;
  transition-property: width;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  background-size: 250px 5px;
  height: 100%;
  position: relative;
}

#preloader .progress-shadow {
  background-image: linear-gradient(to bottom, rgba(234, 236, 238, 1), rgba(234, 236, 238, 0));
  height: 100px;
  position: absolute;
  top: 100%;
  transform: skew(45deg);
  transform-origin: 0 0;
  width: 100%;
}

/* 动画 */
.up {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 22px;
  height: 34px;
  margin: auto;
  z-index: 1000;
  opacity: 0.5;
  pointer-events: none;
}

.ups {
  width: 22px;
  height: 14px;
  z-index: 100;
  animation: up 1s ease-in infinite;
  -moz-animation: up 1s ease-in infinite;
  -webkit-animation: up 1s ease-in infinite;
  left: 0;
  bottom: 10px;
  background: none !important;
  position: relative !important;
}

.ups:before {
  content: '';
  width: 12px;
  height: 4px;
  background-color: #000;
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  top: 0px;
  left: 2px;
  transform: rotate(-45deg);
}

.ups:after {
  content: '';
  width: 12px;
  height: 4px;
  background-color: #000;
  border-radius: 0px 10px 10px 0px;
  position: absolute;
  top: 0px;
  right: 2px;
  transform: rotate(45deg);
}

@keyframes up {
  0% {
    bottom: 0;
    opacity: 0
  }

  50% {
    bottom: 10px;
    opacity: 1
  }

  100% {
    bottom: 20px;
    opacity: 0
  }
}

/* 第四个页面 */
.con-4 {
  position: relative;
}

.con-4 span {
  position: absolute;
  bottom: 0.35rem;
  left: 0.7rem;
  font-size: 0.4rem;
  color: rgb(197, 197, 75);
  display: block;
}

.con-4 div b {
  color: red;
}

.con-4 .con4btn {
  position: absolute;
  bottom: 0.15rem;
  left: 41%;
  display: block;
  width: 1.9rem;
  height: 0.9rem;
}

.con-4 .con4btn1 {
  position: absolute;
  bottom: 0.1rem;
  right: 0.9rem;
  display: block;
  width: 1.1rem;
}

/* 业务员报名 */
.bm-number {
  background: url('../img/chengtou/slide-5_1.jpg')no-repeat;
  background-size: 100%;
  width: 100%;
  height: 11.38rem;
}

.con5 {
  background-image: url(../img/chengtou/button.png);
  background-size: 100%;
  margin: 0 auto;
  height: 5.8rem;
  width: 5.6rem;
  padding-top: 0.4rem;
}

.com5list {
  margin-top: 0.6rem;
}

.con5 input {
  width: 3.8rem;
  height: 0.56rem;
  background-color: #f5f7f9;
  display: block;
  border: none;
  font-size: 0.26rem;
  line-height: 1rem;
  color: #000;
  margin: 0.2rem auto 0;
  border-radius: 0.1rem;
}

.con5-btn {
  margin: 1rem 0 0 0.6rem;
  background: url(../img/chengtou/con5-btn.png)no-repeat;
  background-size: 100%;
  width: 1.83rem;
  height: 0.68rem;
  border: none;
  z-index: 9999 !important;
  display: block;
  margin: 0.4rem auto 0;
  line-height: 0.68rem;
  text-align: center;
  color: #000;
  font-size: 0.24rem;
  font-weight: bold;
}

/* 报名人数 */

.con6box h1 {
  text-align: center;
  font-size: 0.26rem;
  color: #ffee7d;
  font-weight: bold;
  padding-top: 1.6rem;
}

.con6 {
  padding-top: 0.2rem;
  font-size: 0.24rem;
  text-align: center;
  line-height: 0.5rem;
}

.con6 p {
  text-align: center;
  line-height: 0.2rem;
}

.con6 .p1 {
  color: #fff83b;
}

.con6 .p1 b {
  color: #fb070d;
}

.con6 .p2 {
  color: #deddcb;
}

.con6 .p3 {
  color: #deddcb;
  margin-left: -0.8rem;
}

.con6 .p4 {
  color: #deddcb;
  font-size: 0.18rem;
  display: block;
  margin-top: 0.5rem;
}

/* 出游人信息填写 */
.con7 {
  width: 4.3rem;
  height: 6.8rem;
  background-image: url(../img/chengtou/button-1.png);
  background-size: 100%;
  padding-top: 0.4rem;
  margin: 0 auto;

}

.con7 .con7input1 {
  width: 3.35rem;
  height: 0.56rem;
  background-color: #f5f7f9;
  display: block;
  border: none;
  font-size: 0.26rem;
  line-height: 0.56rem;
  color: #000;
  margin: 0.2rem auto 0;
  border-radius: 0.1rem;
}

.xuanze {
  margin: 0.36rem auto 0;
  display: block;
  color: #deddcb;
  text-align: left;
  overflow: hidden;
  width: 3.7rem;
}

.xuanze li {
  float: left;
}

.xuanze li:nth-child(2) {
  margin-left: 0.1rem;
}

#rad {
  height: 0.26rem;
  width: 0.26rem;
  vertical-align: middle;
}

.con7 .con7-text {
  width: 3.25rem;
  height: 1rem;
  margin: 0.4rem auto 0;
  display: block;
}

.con7delete {
  background: url('../img/chengtou/delete.png')no-repeat;
  background-size: 100%;
  width: 1.85rem;
  height: 0.45rem;
  display: block;
  margin-left: 42%;
  margin-top: 0.2rem;
}

.con7add {
  background: url('../img/chengtou/add.png')no-repeat;
  background-size: 100%;
  width: 1.85rem;
  height: 0.45rem;
  display: block;
  margin: 0.2rem 0 0 1.2rem;
}

.con-box {
  position: relative;
  height: 11.4rem;
}

.con7footer {
  background: url('../img/chengtou/con7footer.png')no-repeat;
  background-size: 100%;
  width: 6.4rem;
  height: 1.38rem;
  /* margin-top:0.35rem; */
  position: absolute;
  bottom: 0;

}

.con7footer p {
  width: 5.6rem;
  color: #112150;
  margin: 0.15rem auto 0;
  line-height: 0.35rem;
}

.con7footer p b {
  color: #d20707;
}

.submitbtn a {
  width: 1.83rem;
  height: 0.68rem;
  line-height: 0.68rem;
  background: url('../img/chengtou/con5-btn.png')no-repeat;
  background-size: 100%;
  display: block;
  margin: 0.7rem auto 0;
}

/* 提交 */
.con8 {
  background: url('');
}

.submit {
  position: relative;

}

.go-apply {
  width: 1.9rem;
  height: 0.53rem;
  line-height: 0.53rem;
  text-decoration: none;
  background-color: #fff83b;
  display: block;
  font-size: 0.24rem;
  text-align: center;
  border-radius: 0.2rem;
  position: absolute;
  top: 48%;
  left: 35%;
  color: #171602;
  font-weight: bolder;

}

.con7 .inputName,
.con5list .inputName {
  position: relative;
  width: 3.8rem;
  margin: 0 auto;
  display: flex;
}

.inputName span {
  position: absolute;
  top: 0.3rem;
  left: 0.2rem;
  display: block;
  padding-left: 0.2rem;
}

.con7input1 {
  padding-left: 1.6rem;
}

.con7input2 {
  padding-left: 1.3rem;
}

.con5 {
  position: relative;
}

.con7input3 {
  padding-left: 1rem;
}


.bm-list .inputName {
  width: 4rem;
}

.bm-list .inputName span {
  top: 0.25rem;
  left: 0.2rem;
}

.con6input {
  padding-left: 2.1rem;
}

.con6box {
  overflow: hidden;
  height: 100%;
}

.conimportant {
  overflow: scroll;
}

#comappend {
  overflow: scroll;
}

.con5box {
  margin: 0.2rem auto 0;
  width: 3.8rem;
  height: 0.56rem;
  background-color: #f5f7f9;
  border-radius: 0.1rem;
  position: relative;
  line-height: 0.56rem;
  display: block;
}

.con5box span {
  padding-left: 0.2rem;
}

.con5select {
  margin-left: 2rem;
  position: absolute;
  top: 0;
  right: 0.6rem;
  border: none;
  height: 0.3rem;
  margin: 0 auto;
}

.inputName .con5gonghao {
  padding-left: 0;
}
.newcon7{
  height: 5.8rem;
}
.con7date{
  width: 4.58rem;
  height: 4.58rem;
  padding: 0.5rem 0 0 0.4rem;
}
.con7-logo{
  width: 1.93rem;
  height: 0.64rem;
  margin: 1rem auto 0;
}