.rightH{
    float: right;
}
.adminH{
    float: left;
}
.allsecreen{
    float: right;
}
.houtaiCont{

}
.houtaiCont:after{
    display: block;
    content: '';
    visibility: hidden;
    height: 0px;
    line-height: 0px;
    clear:both;
}
.leftCont{
    float: left;
    padding-bottom: 1px;
}
.houtaiCont .rightCont{
    float: right;
}
.allsecreen:before{
    background: url("../images/fullscreen.png") left 17px no-repeat;
    background-size: 15px 15px;
}
.lfcTop li{
    float: left;
}
