/* 律家宝 */
.icon-lvjiabao-radio{
    color: #d2d2d2;
}
.icon-lvjiabao-radioactive{
    color: #2c87f7;
}
.commom-header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding:.56rem 0;
}
.commom-tabbar-margin{
    height:1.2rem;
}
.index-header{
    flex-flow: row;
    padding:0;
    padding-top:.56rem;
    align-items: flex-start;
    background: url('./../../images/law/legal-advice-bg.png') no-repeat center center/cover;
}
.index-header>.left{
    flex:0 0 22%;
    margin-left:4%;
}
.index-header>.right{
    flex:1;
    width: 100%;
    margin-left:.12rem;
}
.index-header>.right>.title{
    color: #fff;
    font-size:.38rem;
}
.index-header>.right>.other{
    display: flex;
    margin-top:.24rem;
   
}
.index-header>.right>.other>.liucheng{
    background-color: #39e35c;
    color: #fff;
    height:.6rem;
    line-height: .6rem;
    padding: 0 .26rem;
    border-radius:20px;
    font-size:.24rem;
}
.liucheng-ul{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    margin-left:.18rem;
}
.liucheng-ul>li{
    flex:0 0 50%;
    font-size:.24rem;
    color: #fff;
}
.liucheng-ul>li:nth-of-type(n+3){
    margin-top:.02rem;
}
.my-login-header{
    background: url('./../../images/law/login-bg.png') no-repeat left center/cover;
}
.commom-img-set>img,.index-header>.left>img,
.commom-header-nobg>img{
    display: block;
    max-width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
.login-head>img{
    width: 1.6rem;
    height:1.6rem;
    border-radius: 50px;
}
.tel-fill{
    display: block;
    margin-top:.24rem;
    color: #fff;
    font-size:.36rem;
}
.my-login-header>.login-btn{
    margin-top:.24rem;
    padding: .08rem .62rem;
    border-radius: 30px;
    font-size:.3rem;
    color: #2c8dfe;
    background-color: #fff;
}
.card-voucher-ul{
    display: flex;
    background-color: #fff;
    padding: .5rem 0;
}
.card-voucher-ul>li{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-voucher-ul>li>img{
    display:inline-block;
    width:.78rem;
    height:.46rem;
    vertical-align: middle;
    margin-right:.2rem;
}
.card-voucher-ul>li:nth-of-type(1)>img{
    box-shadow: 0 3px 8px rgba(44, 141, 254, .56);
}
.card-voucher-ul>li:nth-of-type(2)>img{
    box-shadow: 0 3px 8px  rgba(56, 179, 124,.56);
}
.card-voucher-ul>li>i{
    font-size: .36rem;
    color: #000;
}
.my-links-ul>li{
    margin-top:.12rem;
    background-color: #fff;
}
.my-links-ul>li>.a-links{
    display: flex;
    width: 100%;
    align-items: center;
    padding: .3rem .24rem;
}
.my-links-ul>li>.a-links>span{
    flex:1;
    text-align: left;
    margin-left:.18rem;
    color: #535353;
}
.my-links-ul>li>.a-links>span>em{
    color: #515151;
    font-size: .24rem
}
.my-links-ul>li>.a-links>span.call-phone{
    position: relative;
}
.my-links-ul>li>.a-links>span.call-phone>i{
    position: absolute;
    top:.06rem;
    right:.15rem;
    z-index:1;
    font-size:.3rem;
    color: #2c8dfe;   
}
.my-links-ul>li>.a-links>i{
    font-size: .42rem;
    color: #a9a9a9;
}
.commom-input-ul>li{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding:0 .24rem;
}
.commom-input-ul>li>i{
    font-size:.46rem;
    color: #bfbfbf;
    margin-right:.2rem;
}
.commom-input-ul>li+li{
    margin-top:.12rem;
}
.commom-input-ul>li>input{
    flex: 1;
    width: 100%;
    height: 1rem;
    border: none;
    font-size: .3rem;
    padding-right: .24rem;
}
.commom-input-ul>li>.send-code{
    border:1px solid #2382f7;
    color: #2382f7;
    border-radius:20px;
    height: .64rem;
    line-height: .64rem;
    font-size:.24rem;
}
.commom-input-ul>li>.btn-disabled{
    color: #2382f7; 
    background-color:transparent;
}
.commom-submit{
    padding: 0 .24rem;
    margin-left: auto;
    margin-right: auto;
}
.contract-submit{
    padding-bottom:.76rem;
}
.commom-submit>.btn-block   {
    height:.94rem;
    line-height: .94rem;
    background-color: #2382f7;
    border-radius:30px;
    
    box-shadow: 0px 6px 15px  rgba(44, 141, 254, 0.43);
}
.service-category>.title{
    color: #000;
    font-weight:700;
    padding: 0.15rem .32rem;
}
.service-list-ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    padding:.3rem .24rem;
}
.service-list-ul>li{
    flex:0 0 25%;
}
.service-list-ul>li:nth-of-type(n+5){
    margin-top:.35rem;
}
.service-list-ul>li>a{
    display: block;
    width: 100%;
    text-align: center;
}
.service-list-ul>li>a>img{
    display: inline-block;
    width:1.12rem;
    height:1.12rem;
    border-radius: 40px;
}
.service-list-ul>li>a>span{
    display: block;
    color: #000;
    margin-top:.1rem;
    font-size:.26rem;
}
.service-list-ul>li:nth-of-type(1)>a>img{
    box-shadow: 0 2px 20px rgba(44, 141, 254, .45);
}
.service-list-ul>li:nth-of-type(2)>a>img{
    box-shadow: 0 2px 20px rgba(56, 179, 124, 0.45);
}
.service-list-ul>li:nth-of-type(3)>a>img{
    box-shadow: 0 2px 20px rgba(69, 182, 241, 0.45);
}
.service-list-ul>li:nth-of-type(4)>a>img{
    box-shadow: 0 2px 20px rgba(94, 152, 252, 0.45);
} 
.service-list-ul>li:nth-of-type(5)>a>img{
    box-shadow: 0 2px 20px rgba(255, 143, 139, 0.45);
}
.service-list-ul>li:nth-of-type(6)>a>img{
    box-shadow: 0 2px 20px rgba(162, 137, 241, 0.45);
}
.service-list-ul>li:nth-of-type(7)>a>img{
    box-shadow: 0 2px 20px rgba(255, 189, 43, 0.45);
}
.service-list-ul>li:nth-of-type(8)>a>img{
    box-shadow: 0 2px 20px rgba(44, 141, 254, 0.45);
}
.other-service-ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 .24rem;
}
.other-service-ul>li{
    flex:0 0 48%;
}
.other-service-ul>li:nth-of-type(even){
    margin-left:2%;
}
.other-service-ul>li>a{
    display: block;
    width: 100%;
    background-color: #fff;
    color: #2c8dfe;
    padding: .4rem 0;
}
.other-service-ul>li>a>i{
    display: block;
    font-size: .86rem;
}
.other-service-ul>li>a>span{
    display: block;
    font-size: .4rem;
    margin-top:.12rem;
}
.commom-header-nobg{
    background-color: #fff;
}
.consult-info{
    background-color: #fff;
}
.consult-padding{
    padding-top: .24rem;
}

.consult-info-ul{
    padding: .24rem .32rem;
}
.consult-info-ul>li{
    display: flex;
    align-items: center;
    font-size:.26rem;
}
.consult-info-ul>li+li{
    margin-top:.4rem;
}
.submit-info-ul>li{
    align-items: initial;
}
.consult-info-ul>li>i{
    flex:0 0 43%;
    color: #707070;
}
.consult-info-ul>li>span{
    flex: 1;
    color: #000;
}
.check-evaluate{
    width:58%;
}
.active-input-wrapper{
    background-color: #fff;
    padding: .15rem 0;
}
.active-input-wrapper>input{
    width: 100%;
    height: 1rem;
    border: none;
    font-size: .3rem;
    padding: 0 .24rem;
}
.active-input-wrapper>input::-ms-input-placeholder{
    text-align: center;
}
.active-input-wrapper>input::-webkit-input-placeholder{
    text-align: center;
}
.evaluate-list{
    padding: .15rem .24rem .3rem;
}
.evaluate-list-ul>li{
    display: inline-flex;
    padding: .08rem .24rem;
    border-radius: 30px;
    color: #707070;
    font-size:.26rem;
    text-align: center;
    background-color: #fff;
    margin-top:.15rem;
    margin-right:.12rem;
}
.service-describe,.service-score{
    padding: 0 .24rem;
}
.service-describe>.title{
    display: block;
    color: #000;
    font-size:.3rem;
    margin-bottom: .15rem;
}
.service-describe>textarea{
    display: block;
    width: 100%;
    min-height:3rem;
    border: none;
    padding:.12rem;
    font-size:.28rem;
}
.service-score{
    display: flex;
    align-items: center;
}
.service-score>.title{
    color: #000;
    font-size:.3rem;
}
.star-list{
    display: inline-flex;
    align-items: center;
}
.star-list>i{
    color: #c9c9c9;
    font-size:.56rem;
}
.star-list>i.active{
    color: #2382f7;
}
.star-list>i{
    margin-left: .18rem;
}
/* 弹窗 */
.commom-popup-outside{
    position: fixed;
    top:0;
    left:0;
    z-index:101;
    width: 100%;
    height:100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.6);
}
.commom-popup{
    width: 90%;
    margin-left: auto;
    margin-right:auto;
}
.commom-popup>.title{
    position: relative;
    display: block;
    width: 100%;
    color: #fff;
    font-size: .38rem;
    text-align: center;
    padding: .24rem 0;
    background-color: #2c8dfe;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.commom-popup>.title>i{
    position: absolute;
    top:-.22rem;
    right:-.2rem;
    z-index:20;
    font-size:.64rem;
}
.commom-popup>.title-nobg{
    background-color: #fff;
}
.commom-popup>.title-nobg>i{
    background-color: transparent;
    color: #2c8dfe;
}
.commom-popup>.content{
    background-color: #fff;
    padding: .18rem .24rem .45rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.commom-popup>.content>.tip{
    text-align: center;
    margin-bottom:.28rem;
    font-size:.24rem;
    color: #6f6e6e;
}
.travel-ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.travel-ul>li{
    flex:0 0 32.333%;
    margin-top:.24rem;
}
.travel-ul>li+li{
    margin-left:1.5%;
}
.travel-ul>li:nth-of-type(3n+4){
    margin-left:0;
}
.travel-ul>li>a{
    display: inherit;
    padding:.15rem .24rem;
    border-radius: 20px;
    font-size:.28rem;
    color: #000;
    background-color: #eeeeee;
}
.travel-ul>li>a.active{
    color: #fff;
    background-color: #2382f7;
}
.commom-popup>.content>.connect-tip{
    text-align: center;
    font-size:.38rem;
    color: #000;
    margin: .4rem 0 .8rem;
}
.consult-title{
    padding: .1rem .32rem;
    font-size:.3rem;
    color:#000;
}
.checkbox-show-ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.checkbox-show-ul>li{
    flex: 0 0 50%;
    display: inline-flex;
    align-items: center;
    margin-bottom: .12rem;
    color: #000;
}
.checkbox-show-ul>li>i{
    font-size:.42rem;
    margin-right:.1rem;
}
.upload-img-info,.commom-description{
    padding: 0.24rem .32rem;
    background-color: #fff;
}
.upload-img-info>.title,.commom-description>.title{
    padding: 0;
    color: #707070;
    font-size:.26rem;
}
.commom-description>.content{
    margin-top:.15rem;
    color: #000;
    font-size:.26rem;
}
.img-info-ul{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top:.24rem;
}
.img-info-ul>li{
    position: relative;
    flex: 0 0 31%;
    margin-left:3.4%;
    padding: .1rem;
    height: 2.3rem;
    max-height:2.3rem;
    overflow: hidden;
    border:1px solid #e5e5e5;
}
.img-info-ul>li>img.upload-add{
    position: absolute;
    top:50%;
    left: 50%;
    z-index:10;
    width: 38px;
    height:38px;
    margin-left:-19px;
    margin-top: -19px;
}
.wap-upload-wrapper{
    background: url("./../../images/law/upload-add.png") no-repeat center center;
    background-size: 38px 38px;
}
.wap-upload-wrapper>input[type="file"]{
    position: absolute;
    top:0;
    left: 0;
    z-index:-1;
    width:30px;
    opacity: 0;
}
@media screen and (min-height: 1024px) {
    .img-info-ul>li{
        max-height:3.66rem;
    }
}
@media screen and (min-height: 1366px) {
    .img-info-ul>li{
        max-height:4rem;
    }
}
.img-info-ul>li:nth-of-type(3n+1){
    margin-left:0;
}
.img-info-ul>li:nth-of-type(n+4){
    margin-top:.24rem;
}
.img-info-ul>li>img{
    display: block;
    max-width:100%;
    margin-left:auto;
    margin-right: auto;
}
.img-info-ul>li>span{
    position: absolute;
    bottom:0;
    left:0;
    z-index:10;
    width:100%;
    height:.56rem;
    line-height:.56rem;
    text-align: center;
    color: #707070;
    font-size:.24rem;
    border-top:1px solid #e5e5e5;
    background-color: #fff;
}
.consult-describe>.content{
   margin-top:.15rem;
   line-height:.46rem;
   color: #000;
}
.commom-white-bg{
    width:100%;
    padding: .24rem 24%;
    background-color: #fff;
}
.commom-white-bg>.btn-block{
    margin-top:0;
}
/* 卡券 */
.tab-nav:after{
    width: 89%;
    left:5%;
    margin-left: auto;
    margin-right: auto;
    border-radius:6px;
    border-bottom:18px solid #eeeeee;
}
.tab-nav-item:not(:last-child):after{
    height:0;
}
.tab-nav-item{
    color: #707070;
}
.tab-nav-item.tab-active{
    color: #000;
}
.tab-nav-item.tab-active::before{
    background-color: #2c8dfe;
    height:8px;
    border-radius: 20px;
}
.tab-nav-item.tab-active:before{
    bottom: 12px;
}
.tab-nav-item a{
    font-size: .3rem;
    padding-bottom: 20px;
}
.tab-nav:after {
    bottom: 12px;
}
.tab-panel{
    background-color: transparent;
}
.tab-panel .tab-panel-item{
    padding: 0 .24rem;
}
.card-list-ul>li{
    margin-top:.35rem;
    padding: 0 .24rem;
}
.card-list-ul>li>.title{
    display: flex;
    align-items: center;
    color: #fff;
    padding: .2rem .32rem;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.card-list-ul>li>.title.helpful.changting{
    background: url('./../../images/law/card-changting1.png') no-repeat left top/cover;
}
.card-list-ul>li>.title.helpful.changxiang{
    background: url('./../../images/law/card-changting2.png') no-repeat left top/cover;
}
.card-list-ul>li>.title.invalid{
    background: url('./../../images/law/card-invalid.png') no-repeat left top/cover;
}
.card-list-ul>li>.title>i{
    flex: 1;
}
.card-list-ul>li>.content{
    padding:  .32rem;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
}
.card-list-ul>li>.content>.up{
    display: flex;
    padding-bottom: .38rem;
    margin-top: .2rem;
    border-bottom:1px dotted #bfbfbf;
}
.card-list-ul>li>.content>.up>.left{
    flex: 1;
}
.card-list-ul>li>.content>.up>.left>span{
    display: block;
    font-size:.26rem;
    color: #000;
}
.card-list-ul>li>.content>.up>.left>span+span{
    margin-top:.1rem;
}
.card-list-ul>li>.content>.up>.right{
    align-self: flex-end;
}
.card-list-ul>li>.content>.up>.right>.btn{
    height: .54rem;
    line-height: .54rem;
    padding: 0 .3rem;
    border-radius: 20px;
    font-size:.26rem;
    background-color: #2382f7;
}
.card-list-ul>li>.content>.up>.right>.btn:active{
    background-color: #2382f7;
}
.card-list-ul>li>.content.invalid>.up>.right>.btn{
    background-color: #959595;
    pointer-events: none;
}
.card-list-ul>li>.content.invalid>.up>.right>.btn:active{
    background-color: #959595;
}
.card-explain{
    display: flex;
    align-items: center;
    color: #a0a0a0;
    margin-top:.3rem;
}
.card-explain>em{
    font-size:.38rem;
    margin-top:.02rem;
}
.card-explain>i{
     font-size:.42rem;
}
.card-explain>span{
    flex: 1;
    font-size:.26rem;
    margin-left:.12rem;
}
.use-instructions-ol{
    margin-left:.35rem;
}
.use-instructions-ol>li {
    font-size: .24rem;
    color: #a0a0a0;
    list-style: decimal;
    margin-top: .15rem;
}
.explain-content{
    display: none;
}
.tab-panel .tab-panel-item{
    padding: 0;
}
.tab-nav-inner{
    display: flex;
    align-items: center;
    margin-top:.4rem;
    padding: 0 .24rem;
}
.tab-nav-inner>li{
    flex: 1;
}
.tab-nav-inner>li+li{
    margin-left:2%;
}
.tab-nav-inner>li>a{
    display: inherit;
    width: 100%;
    padding:.18rem 0;
    color: #7d7d7d;
    border:1px solid transparent;
    border-radius:2px;
    background-color: #fff;
}
.tab-panel-inner{
    margin-top:.2rem;
}
.tab-panel-inner-item{
    display: none;
}
.tab-panel-inner-item.active{
    display: block;
}
.tab-nav-inner>li>a.active{
    color: #2382f7;
    border-color: #2382f7;
}
.service-record-ul>li{
    background-color: #fff;
    padding:.32rem  .24rem;
}
.service-record-ul>li+li{
    margin-top:.15rem;
}
.service-record-ul>li>.up{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: left;
}
.service-record-ul>li>.up>span{
    flex: 1;
    color: #000;
}
.service-record-ul>li>.up>i{
    color: #959595;
    font-size:.4rem;
}
.service-record-ul>li>.down{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: left;
    margin-top:.3rem;
}
.service-record-ul>li>.down>time{
    flex: 1;
    color: #535353;
    font-size:.26rem;
}
.service-record-ul>li>.down>.btn{
    height:.6rem;
    line-height: .6rem;
    font-size:.26rem;
    border-radius: 20px;
    width: 1.85rem;
    border:1px solid #2382f7;
    color: #2382f7;
    background-color: #fff;
}
.no-data-tip{
    color: #707070;
    text-align: center;
    margin-top:.4rem;
    font-size:.28rem;
}
.contract-trial-ul{
    padding: .24rem 0;  
}
.contract-trial-ul>li{
    padding: 0 .24rem;
    position: relative;
}
.contract-trial-ul>li+li{
    margin-top:.24rem;
}
.contract-trial-ul>li>span{
    display: block;
    color: #707070;
    margin-bottom:.12rem;
    font-size:.26rem;
}
.contract-trial-ul>li>span>i{
    color: #2382f7;
    padding-left:.15rem;
    font-size:.35rem;
}
.contract-trial-ul>li>select{
    display: block;
    width: 100%;
    height:.9rem;
    line-height: .9rem;
    padding: 0 .15rem;
    color: #bfbfbf;
    border:1px solid #dcdcdc;
}
.contract-trial-ul>li>select>option{
    color: #333;
}
.upload-tip{
    color: #000;
    margin-top:.15rem;
}
.contract-trial-ul>li>input{
    display: block;
    width:100%;
    height:.9rem;
    line-height:.9rem;
    padding: 0 .15rem;
    border:1px solid #dcdcdc;
}
.contract-trial-ul>li>textarea{
    display: block;
    width: 100%;
    padding: .15rem;
    min-height:3.3rem;
    border:1px solid #dcdcdc;
}
.contract-trial-ul>li>i.icon{
    position: absolute;
    top: .79rem;
    right: .3rem;
    z-index: 10;
    font-size: .42rem;
    color: #707070;
}
input[type="date"]::before{
    color:#c4c6cd;
    content:attr(placeholder);
}
input[type="date"].full::before {
    color:black;
    content:""!important;
}
.index-links-ul>li>.a-links>span{
    color: #000;
    font-weight: 700;
    /* font-size:.34rem; */
}
.operation-order-ul{
    display: flex;
    padding: 1.5rem 12% 1rem;
}
.operation-order-ul>li{
    position: relative;
    flex:1;
}
.operation-order-ul>li>span{
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    width: 100%;
    font-size:.24rem;
    color: #515151;
    text-align: center;
}
.operation-order-ul>li>span::before{
    content: '';
    position: absolute;
    top: -24px;
    left: 43%;
    z-index: 10;
    width: 9px;
    height: 9px;
    border-radius: 20px;
    background-color: #2c8dfe;
}
.operation-order-ul>li>span::after{
    content: '';
    position: absolute;
    top: -20px;
    left: 43%;
    z-index: 10;
    width: 100%;
    border-top: 1px solid #2c8dfe;
}
.operation-order-ul>li:nth-last-of-type(1)>span::after{
    width:0;
}
.hot-line-consult{
    width: 60%;
}

.rx-popup .hot-line-consult{
    width: 100%;
}
.hot-line-consult>a>i{
    font-size:.56rem;
    vertical-align: middle;
    margin-right:.15rem;
}
.wap-upload-wrapper{
    position: relative;
    display: flex;
    height: 100%;
}

.rx-popup{display: none}


.swiper-slide>img{
display: block;
max-width:100%;
height:auto;
margin-left:auto;
margin-right:auto;
	width:100%;
}


